@import url("../style.css");

.section_image {
  width: 100%;
  background: url("/images/index/section.svg") no-repeat;
  background-size: cover;
  height: 735px;
}
.section_h1_text {
  padding-top: 128px;
  max-width: 640px;
  height: 231px;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: var(--off-white);
}
.section_btn_link {
  width: Hug (148px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background-color: var(--white);
  backdrop-filter: blur(80px);
  color: var(--primary-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.section_link {
  margin-top: 200px;
}
.section_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: Hug (140px) px;
  height: Hug (48px) px;
  padding: 12px 16px 12px 16px;
  border: none;
  color: var(--white);
  cursor: pointer;
}
.section_btns {
  display: flex;
  align-items: center;
}
.section_corp {
  padding-top: 200px;
}
.section_horizontal_line {
  width: 861px;
  height: 1px;
  border: 1px;
  background-color: var(--white);
}
.section_statistics {
  padding-top: 192px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.section_number {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  color: var(--white);
}
.section_horizontal_line_small {
  margin-top: 10px;
  width: 72px;
  height: 2px;
  border: 2px;
  background-color: var(--black);
}
.section_theme {
  margin-top: 158px;
  display: flex;
  gap: 24px;
}
.section_teme_about {
  display: flex;
}
.section_about_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
  text-align: left;
}
.section_text_h2 {
  margin-top: 32px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  width: 607px;
  height: 116px;
}
.section_p_text {
  width: 608px;
  height: 96px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--secondary-text);
}
.section_p_text_2 {
  width: 608px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--secondary-text);
}
.section_btn_2 {
  margin-top: 48px;
  width: Hug (146px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--green-primary);
  color: var(--white);
}
.section_family_images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  background: url("/images/index/family.svg") no-repeat;
  box-sizing: cover;
  width: 480px;
  height: 578.34px;
}
.section_images_and_texts {
  display: flex;
  align-items: center;
  gap: 96px;
}
.play_icon {
  width: 60px;
  height: 60px;
}
.section_horizontal_line_2 {
  width: 1094px;
  height: 1px;
  border: 1px;
  background-color: var(--border);
}
.section_text_h4 {
  width: 162px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 2px;
}
.section_supporters {
  margin-top: 73px;
  display: flex;
  align-items: center;
}
.section_logos {
  margin-bottom: 65px;
  margin-top: 33px;
  display: flex;
  gap: 96px;
}
.section_what_we_do {
  background-color: var(--green-tertiary);
}
.section_horizontal_line_3 {
  margin-top: 10px;
  width: 72px;
  height: 2px;
  background-color: var(--primary-text);
}
.section_text_h3 {
  width: 116px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
}
.section_text_what {
  padding-bottom: 96px;
  padding-top: 96px;
  display: flex;
  gap: 24px;
}
.section_text_h4_coming {
  margin-top: 32px;
  width: 608px;
  height: 116px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: var(--primary-text);
}
.section_text_lorem {
  width: 608px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: var(--secondary-text);
}
.section_horizontal_line_4 {
  margin-top: 56px;
  width: 1px;
  height: 520px;
  border: 10px;
  background-color: var(--border);
}
.section_animal_media {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.section_card_theme {
  display: flex;
  gap: 24px;
}
.section_theme_text_h5 {
  margin-top: 55px;
  width: 290px;
  height: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: var(--primary-text);
}
.section_theme_text_p {
  margin-top: 8px;
  width: 384px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--secondary-text);
}
.dog_and_theme_cards {
  display: flex;
  align-items: center;
  gap: 96px;
}
.section_horizontal_line_5 {
  margin-top: 10px;
  width: 72px;
  height: 2px;
  border: 2px;
  background-color: var(--primary-text);
}
.section_text_h4_projects {
  width: 238px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: var(--primary-text);
}
.section_media_projects {
  margin-top: 96px;
  display: flex;
  gap: 24px;
}
.section_text_h2_forever {
  margin-top: 32px;
  width: 640px;
  height: 174px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: var(--primary-text);
}
.section_card_tree_program_1 {
  background: url("/images/index/tree_plantation.svg");
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.section_card_tree_program_2 {
  background: url("/images/index/program_sity.svg");
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.section_card_tree_program_3 {
  background: url("/images/index/safety_program.svg");
  width: 411px;
  height: 421px;
  border-radius: 12px;
}
.section_card_tree_h3 {
  padding: 80px 48px 16px 48px;
  width: 330px;
  height: 84px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: var(--white);
}
.section_card_tree_p {
  padding: 90px 48px 54px 48px;
  width: 390px;
  height: 78px;
  top: 3154px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--white);
}
.section_card_tree_btn {
  margin-left: 48px;
  margin-top: 64px;
  width: Hug (132px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--white);
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.section_cards_tree_program {
  margin-bottom: 96px;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main_stats {
  background-color: var(--black);
}
.main_stats_text_h2 {
  padding-top: 102px;
  width: 611px;
  height: 116px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: var(--white);
}
.main_stats_text_p {
  padding-top: 140px;
  width: 606px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--secondary-text);
}
.main_stats_rectangle_1 {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--green-secondary);
}
.main_stats_rectangle_2 {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--yellow);
}
.main_stats_rectangle_3 {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--dark-green);
}
.main_stats_rectangle_4 {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--pink);
}
.main_stats_rectangle_5 {
  margin-top: 5px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--cream-color);
}
.main_stats_plane_5 {
  padding-top: 15px;
  display: flex;
  gap: 8px;
}
.main_stats_plane {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main_stats_text_p_2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: left;
  color: var(--white);
}
.main_stats_planes {
  padding-top: 60px;
  display: flex;
  gap: 24px;
}
.main_chart_and_texts {
  display: flex;
  gap: 294px;
  align-items: center;
}
.main_chart_img {
  padding-top: 96px;
  margin-bottom: 96px;
}
.main_grener {
  margin: 96px 0 96px 0;
  background: url("/images/index/greener.svg");
  width: 1280px;
  height: 384px;
  border-radius: 12px;
}
.main_grener_text_h2 {
  padding-top: 93px;
  margin: 0 auto;
  width: 631px;
  height: 116px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: var(--white);
}
.main_grener_btn {
  width: Hug (200px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background-color: var(--green-primary);
  color: var(--white);
  border: none;
}
.main_grener_link {
  width: Hug (116px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--primary-text);
}
.main_grener_btns {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.main_read_h3_text {
  width: 275px;
  height: 56px;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
}
.main_horizontal_line {
  width: 981px;
  height: 1px;
  border: 1px;
  background-color: var(--border);
}
.main_menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main_card_change {
  width: 302px;
  height: 328px;
  border-radius: 8px;
}
.main_card_h3_text {
  width: 290px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.main_card_p_text {
  width: 290px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--secondary-text);
}
.main_cards_change {
  margin-bottom: 96px;
  padding-top: 48px;
  display: flex;
  gap: 24px;
}
.main_planet_card {
  margin: 96px 0 96px 0;
  width: 628px;
  height: 191px;
  border-radius: 8px;
  background-color: var(--green-secondary);
}
.main_planet_cards {
  display: flex;
  gap: 24px;
}
.main_card_number {
  padding: 32px 0 0 40px;
  width: 55px;
  height: 58px;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
}
.main_card_data {
  padding: 30px 0 0 40px;
  width: 33px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 2px;
}
.main_card_text_p_events {
  width: 123px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 2px;
}
.main_card_line {
  width: 44px;
  height: 2px;
  border: 2px;
  background-color: var(--primary-text);
}
.main_text_lines {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 23px;
}
.main_planet_card {
  display: flex;
  gap: 54px;
}
.main_card_text_he_plastic {
  padding-top: 8px;
  width: 381px;
  height: 84px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.main_card_played {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--white);
}

@media (max-width: 600px) {
  .section_h1_text {
    font-size: 44px;
    font-weight: 700;
    line-height: 46.8px;
  }
}
@media (max-width: 330px) {
  .section_btns {
    flex-direction: column;
  }
  .section_corp {
    padding-top: 60px;
  }
}
@media (max-width: 340px) {
  .section_horizontal_line {
    max-width: 861px;
  }
}
